In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [9]:
#you can create a dataframe from a dictionairy
data = {'City':['SF','LA','NYC'], 'Population':[837000,3880000,8400000]}

In [10]:
city_frame = DataFrame(data)

In [11]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000