In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [4]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [5]:
ser

1  a   -0.896465
   b    0.710741
   c   -0.529732
2  a   -0.897138
   b   -1.062379
   c   -1.489913
dtype: float64

In [6]:
#outputs the number of levels in the series, and their labels
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
ser[1]

a   -0.896465
b    0.710741
c   -0.529732
dtype: float64

In [8]:
ser[2]

a   -0.897138
b   -1.062379
c   -1.489913
dtype: float64

In [10]:
#if you want to get the values of a across both level 1 and 2 index levels,
#you need to specify a 2 part index
#the first tells you which index level you want
#the value after the , tells you which value in both you are looking for
ser[:,'a']

1   -0.896465
2   -0.897138
dtype: float64

In [11]:
#since you had multiple index levels, it chose the lower index levels as columns
#and the higher ones as row names to make a dataframe
dframe=ser.unstack()
dframe

          a         b         c
1 -0.896465  0.710741 -0.529732
2 -0.897138 -1.062379 -1.489913

In [12]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [13]:
dframe2.index.names = ['INDEX_1','INDEX_2']

dframe2.columns.names=['Cities','Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [14]:
dframe2.swaplevel('Cities','Temp',axis = 1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [16]:
dframe2.sortlevel(1)

C:\Users\karan\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [17]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27