In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
#if you just want to see the values in the array, use .values

obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
#if you just want to see the index, type .index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
#can set the indices for the series to be something other than numbers
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany',
                                                                'China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
#can search the array with the unique index we created
ww2_cas['USA']

400000

In [9]:
#Check which countries had casualties > 4000000
#note that typing ww2_cas > 4000000 would output a boolean for each index in the series
#by using an array operation inside the series, you only output the ones that are true

#do it this way instead
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
#check to see if there is a value or index is in a series.
#check if 'USSR' is in the series
'USSR' in ww2_cas

True

In [11]:
#convert the series into a dictionairy
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [12]:
#convert a dictionary back into a series
ww2_series = Series(ww2_dict)

ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
countries = ['China', 'Germany', 'Japan','USA', 'Argentina']

In [16]:
#we passed a list of countries into the dictionary as indices to output the values
#notice Argentina has NaN
obj2 = Series(ww2_dict,index=countries)

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [18]:
#check to see if there is a null value in the data
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
Argentina     True
dtype: bool

In [19]:
#check to see if there are no nulls in the obj
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
Argentina    False
dtype: bool