In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
#if you want to reindex or rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
#instead of passing a null (NaN) for every index that doesn't exist
#we can tell pandas to fill every null as a '0'
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
#we can use particular methods for filling values
ser3 = Series(['USA', 'Mexico','Canada'], index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)

In [8]:
ranger

range(0, 15)

In [10]:
#ffill means forward fill.  It grabs the previous value and forward fill it
#until it gets to an index that already has a value
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe=DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [12]:
dframe

       col1      col2      col3      col4      col5
A  2.561182 -0.175792 -1.053465 -0.610463  0.049673
B  0.007607 -0.208546 -0.266543 -0.747023  0.690140
D -0.499050  0.166286 -1.458254  0.527571  0.427041
E  1.823386  0.681386 -0.876979  0.657876  0.793170
F -1.032700 -0.071355 -0.915764  1.835919  0.885601

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [14]:
dframe2

       col1      col2      col3      col4      col5
A  2.561182 -0.175792 -1.053465 -0.610463  0.049673
B  0.007607 -0.208546 -0.266543 -0.747023  0.690140
C       NaN       NaN       NaN       NaN       NaN
D -0.499050  0.166286 -1.458254  0.527571  0.427041
E  1.823386  0.681386 -0.876979  0.657876  0.793170
F -1.032700 -0.071355 -0.915764  1.835919  0.885601

In [15]:
#let's reindex new columns
new_columns=['col1','col2','col3','col4','col5','col6']

In [16]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  2.561182 -0.175792 -1.053465 -0.610463  0.049673   NaN
B  0.007607 -0.208546 -0.266543 -0.747023  0.690140   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.499050  0.166286 -1.458254  0.527571  0.427041   NaN
E  1.823386  0.681386 -0.876979  0.657876  0.793170   NaN
F -1.032700 -0.071355 -0.915764  1.835919  0.885601   NaN

In [20]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

C:\Users\karan\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  2.561182 -0.175792 -1.053465 -0.610463  0.049673   NaN
B  0.007607 -0.208546 -0.266543 -0.747023  0.690140   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.499050  0.166286 -1.458254  0.527571  0.427041   NaN
E  1.823386  0.681386 -0.876979  0.657876  0.793170   NaN
F -1.032700 -0.071355 -0.915764  1.835919  0.885601   NaN